* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 90%;
    margin: 0 auto;  
    background-color: rgb(245, 239, 233);
}
#coverImage {
    display: block;
    margin: 0 auto;
}
h1 {
    margin: 1% auto;
    font-size: 20px;
    text-align: center;
    color: rgb(4, 36, 22);
    width: 400px;
    border: 3px solid rgb(37, 37, 37);
    border-radius: 5px;  
}
div.lists {
    width: 100%;
    overflow: auto;
}
#foods, 
#shows,
#hiddenbox {
    width: 30%;
    float: left;
    color: rgb(68, 70, 69);
    border: 2px solid  rgb(37, 37, 37);
    padding: 2px;
}

#hiddenbox {
    visibility: hidden;
}


    /*
    create hidden elements to space the boxes evenly
    page 486
    margin: 20px;
    color: rgb(68, 70, 69);
    width: 400px;
    height:192.83px;
    border: 2px solid  rgb(37, 37, 37);
    float: left;
    padding: 2px;
    *.
}
h2 {
    text-align: center;
    
}
ul, ol {
    text-align: left;
    list-style-position: inside;
}



